[aria-hidden="true"] {visibility: hidden}
[aria-hidden="false"] {visibility: visible}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
