include ../../mixins/dispute-tools/form-element

.max-width-3.mx-auto(data-component-form="dispute-personal-information")
  form.px2(
    action=routeMappings.Disputes.updateDisputeData.url(dispute.id)
    method="post"
  )
    input(type="hidden" name="_csrf" value=csrfToken)
    input(name="_method" type="hidden" value="PUT")
    input(type="hidden" name="command" value="setForm")
    input(type="hidden" name="formName" value=step.name)

    -
      var _formData = {};
      if (dispute.data.forms && dispute.data.forms[step.name]) {
        _formData = dispute.data.forms[step.name]
      } else if (dispute.data._forms && dispute.data._forms[step.name]) {
        _formData = dispute.data._forms[step.name]
      }

    h3#modalToolPersonalInfoFormTitle.pb3.-accent= dispute.disputeTool.name

    each sets, i in step.fieldSets
      .pt2.pr3.pl3.pb2.mb2.-bg-neutral-dark
        fieldset
          h4= sets.title
          p.-ff-sec!= sets.subtitle

          if sets.yesno
            +_toolsYesNoMixin(sets)

          hr.my2

          if sets.fields
            fieldset
              each row, j in sets.fields
                .clearfix.mxn2
                  each field, k in row
                    +toolsFormElementMixin(field, i + j + k)

    .pt1.pb3: button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Continue to next step

