extends ../layouts/shared.pug

block title
  | 403 — The Debt Collective

block content
  .max-width-3.mx-auto.py4
    .clearfix.flex.items-center
      .col.md-col-6.col-12.center
        img(src='/images/global/tdc-hand.png')
      .col.md-col-6.col-12
        h2.pb3.-ttu.-h-sec.-accent: span 403
        h4.pb2.-ff-sec.-fw-300 Looks like you followed a bad link or something went wrong.
        h4.pb2.-ff-sec.-fw-300.-accent= message
        p
          a.button-clear.-fw-700(href='/')
            svg(width='14' height='14'): use(xlink:href='#svg-arrow-backward')
            span.pl1 Go to homepage.
