extends ../../layouts/admin.pug

block title
  | Admin/Campaigns/edit — The Debt Collective

block styles
  link(href="/build/stylesheets/admin/campaigns/edit.css" rel="stylesheet")

block content
  .px2.pb4
    .max-width-2.mx-auto

      h2.pt4 Edit Campaign
      h4.pt1.-neutral-mid= campaign.collective.name
      h4.pb3= campaign.title

      form(
        method='post'
        action= routeMappings.Admin.Collectives.Campaigns.update.url(selectedCollective, campaign.id)
        enctype='multipart/form-data'
        data-component-form
      )
        input(type='hidden' name='_csrf' value=csrfToken)
        input(name='_method' type='hidden' value='PUT')

        .py1
          label.block.pb1.-fw-500 Cover

          .EditCampaign__image-wrapper.inline-block.align-top.mr2
            if campaign.cover.exists('original') && campaign.default
              img(src=campaign.cover.url('original') width='300')
            else if campaign.cover.exists('grayscale')
              img.block(src=campaign.cover.url('grayscale'))
            else
              img.block(src='/images/campaigns/cover-placeholder.jpg')
          .relative.-k-btn.btn-link.btn-outline.-primary.-xs
            input.absolute.top-0.left-0.-fh.-fw(name="image" type="file" accept="image/*" style="opacity: 0;")
            span.-fw-500.-primary Upload

        .py1
          label.block.pb1.-fw-500 Title
          input.-k-input.-fw.-border-neutral-mid(
            type='text'
            name='title'
            value=campaign.title
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

        .py1
          label.block.pb1.-fw-500 Intro text
          textarea.-k-textarea.-fw.-ff-sec.-border-neutral-mid(
            name='introText'
            rows='2'
          ) #{campaign.introText}


        .py1
          label.block.pb1.-fw-500
            span Description
            span.pl1.-caption.-neutral-mid (Styling with #[a(href='http://commonmark.org/' rel='noopener noreferrer' target='_blank') Markdown] is supported)
          textarea.-k-textarea.-fw.-ff-sec.-border-neutral-mid(
            name='description'
            rows='6'
          ) #{campaign.description}

        .py1
          p.-fw-500 Campaign status
          .clearfix.md-flex.flex-wrap.mxn2
            .col.md-col-6.col-12.px2.py1
              label.CampaignStatusLabel.block.p2.center.-fh(for='campaign-active')
                p.-fw-700 Active
                input(
                  type='checkbox'
                  name='active'
                  value='true'
                  id='campaign-active'
                  checked= campaign.active
                )
                .CampaignStatusLabelBg.absolute.top-0.right-0.bottom-0.left-0
                p.-fw-500.-caption Check to enable the campaign feed and events.

            .col.md-col-6.col-12.px2.py1
              label.CampaignStatusLabel.block.p2.center.-fh(for='campaign-published')
                p.-fw-700 Published
                input(
                  type='checkbox'
                  name='published'
                  value='true'
                  id='campaign-published'
                  checked= campaign.published
                )
                .CampaignStatusLabelBg.absolute.top-0.right-0.bottom-0.left-0
                p.-fw-500.-caption Check to make this campaign visible for all, if it is unchecked only admins will see it.

        .pt3
          button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Update “#{campaign.title}”

block scripts
  script(src="/build/javascripts/admin/campaigns/edit.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };

      new ViewAdminCampaignsEdit(options);
    }, true);
