extends ../../layouts/admin.pug

block title
  | Admin/Campaigns/new — The Debt Collective

block styles
  link(href="/build/stylesheets/admin/campaigns/new.css" rel="stylesheet")

block content
  .px2.pb4
    .max-width-2.mx-auto

      h2.pt4 New Campaign
      h4.pt1.pb3.-neutral-mid= collective.name

      form(
        method='post'
        action=routeMappings.Admin.Collectives.Campaigns.create.url(selectedCollective)
        enctype='multipart/form-data'
        data-component-form
      )
        input(type='hidden' name='_csrf' value=csrfToken)

        .py1
          label.block.pb1.-fw-500 Cover
          .EditCampaign__image-wrapper.inline-block.align-top.mr2
            img.block(src='/images/campaigns/cover-placeholder.jpg')
          .relative.-k-btn.btn-link.btn-outline.-primary.-xs
            input.absolute.top-0.left-0.-fh.-fw(name="image" type="file" accept="image/*" style="opacity: 0;")
            span.-fw-500.-primary Upload

        .py1
          label.block.pb1.-fw-500 Title
          input.-k-input.-fw.-border-neutral-mid(
            type='text'
            name='title'
          )
          p(class="-on-error -danger -caption -fw-500 mt1")

        .py1
          label.block.pb1.-fw-500 Intro text
          textarea.-k-textarea.-fw.-ff-sec.-border-neutral-mid(
            name='introText'
            rows='2'
          )

        .py1
          label.block.pb1.-fw-500
            span Description
            span.pl1.-caption.-neutral-mid (Styling with #[a(href='http://commonmark.org/' rel='noopener noreferrer' target='_blank') Markdown] is supported)
          textarea.-k-textarea.-fw.-ff-sec.-border-neutral-mid(
            name='description'
            rows='6'
          )

        .pt3
          button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Create

block scripts
  script(src="/build/javascripts/admin/campaigns/new.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };

      new ViewAdminCampaignsNew(options);
    }, true);
