.AvatarList {
  padding: 0;
  margin: 0 -.25rem 1rem;

  & > li {
    display: inline-block;
    vertical-align: top;
    margin-left: .25rem;
    margin-right: .25rem;
  }

  & img {display: block}
}

