.Masonry {
  &_item {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    @media (--breakpoint-sm) {
      width: calc(6/12 * 100%);
    }

    @media (--breakpoint-md) {
      width: calc(4/12 * 100%);
    }
  }

  @supports(column-count: 1) {
    column-count: 1;
    column-gap: 0;

    @media (--breakpoint-sm) {
      column-count: 2;
    }

    @media (--breakpoint-md) {
      column-count: 3;
    }

    &_item {
      width: 100%;
      display: block;
      break-inside: avoid;

      &:only-child { display: inline-block; }
    }
  }
}
