.ResponsiveMenu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #000;
  color: #fff;

  opacity: 0;
  transition: visibility 0ms linear 300ms,
    opacity 160ms linear;

  &[aria-hidden="false"] {
    opacity: 1;
    transition-delay: 0ms;
    transition: opacity 160ms linear;
  }

  &__Header {
    height: 60px;
  }

  &__link {
    font-size: 2rem;
    color: #fff;

    &:hover {
      color: #fff;
      opacity: .8;
    }
    &.active {color: var(--k-color-palette-primary)}
  }
}
