.Tag {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 13px;

  & ~ .Tag {
    margin-left: 10px;
  }

  &--empty {
    opacity: .5;
    color: gray;
  }
}
