extends ../layouts/application.pug

block title
  | #{collective.name} — The Debt Collective

block styles
  link(href='/build/stylesheets/collectives/show.css' rel='stylesheet')

block content
  div
    .px2.pt3(data-offset-section)
      .max-width-4.mx-auto
        h3.border-bottom.-bw5.-border-accent.pb2.flex.items-center
          svg.inline-block.align-middle.-sw7.-stroke-accent(width='60' height='60')
            use(xlink:href=`#svg-collective-${collective.id.charAt(0)}`)
              span.pl2.inline-block.align-middle.-accent= collective.name
        .py2.flex
          .flex.flex-auto.items-center.-ell
            if belongsToCollective
              - var _avatarUrl = '/images/profile/placeholder-small.png';
              if (currentUser.account.image.exists('smallGrayscale'))
                - _avatarUrl = currentUser.account.image.url('smallGrayscale')
              img.mr1(src=_avatarUrl alt=currentUser.account.fullname width='40' height='40')

            span.-accent
              span.-fw-700= (belongsToCollective ? `You + ${collective.userCount - 1}` : `+ ${collective.userCount}`)
              span.-fw-500 &nbsp;members
            unless collective.id === '99999999-9999-9999-9999-999999999999'
              // IF NOT Solidarity Bloc
              span.-fw-700.px2 &middot;
              span.-fw-700.-ell We have $#{totalDebtAmount} debt to leverage.
          div
            unless belongsToCollective
              if currentUser
                form(method='post' action=routeMappings.Collectives.join.url(collective.id))
                  input(type='hidden' name='_csrf' value=csrfToken)
                  button.-k-btn.btn-primary.-fw-700.-sm Join this collective
              else
                button.js-login-link.-k-btn.btn-primary.-fw-700.-sm Join this collective

    .bg-light-pattern.relative.-dark.px2
      div(data-hit-sticky)
      .max-width-4.mx-auto(data-tabs-component)
        ul.list-reset.flex.-bg-neutral-light(role='tablist')
          li.Tab.flex-auto.p3.-fw-700.-dark(role='tab' aria-controls='panel-campaigns' aria-selected='false')
            | Campaigns
            span.xs-hide.right.-caption.-neutral-mid= collective.campaigns.length
          li.Tab.flex-auto.p3.-fw-700.-dark(role='tab' aria-controls='panel-manifest' aria-selected='false')
            | Proclamation
          li.Tab.flex-auto.p3.-fw-700.-dark(role='tab' aria-controls='panel-dispute-tools' aria-selected='false')
            | Dispute tools
            span.xs-hide.right.-caption.-neutral-mid= collective.tools.length

        .Collective_TabPanes
          section#panel-campaigns.TabPane(role='tabpanel' aria-hidden='true')
            .Masonry.mxn2.pt4
              each campaign, index in collective.campaigns
                article.Masonry_item.px2.pb4
                  a.block(href=routeMappings.Campaigns.show.url(campaign.id))
                    h3.pb1(class=campaign.active ? '-primary' : '-neutral-dark')= campaign.title

                    unless campaign.published
                      span.-bg-accent.-caption.-ttu.-fw-700.inline-block.rounded.align-top.px1 staging

                    if campaign.introText
                      .pb2.-fw-500.-neutral-dark!= campaign.introText

                    if campaign.active
                      .relative
                        svg(width='64' height='57' style='position: absolute; right: 10px; top: -28px;'): use(xlink:href='#svg-badge-active')

                    if campaign.cover.exists('original') && campaign.default
                      .center.pb2
                        img.inline-block.align-top.fit(
                          src=campaign.cover.url('original')
                        )

                    else if campaign.cover.exists('grayscale')
                      .center.pb2
                        img.inline-block.align-top.fit(
                          src=campaign.cover.url('grayscale')
                        )

                    if campaign.userBelongsToCampaign
                      - var _avatarUrl = '/images/profile/placeholder-small.png';
                      if (currentUser.account.image.exists('smallRedSquare'))
                        - _avatarUrl = currentUser.account.image.url('smallRedSquare')
                      .flex.items-center.pb2
                        img.mr1(src=_avatarUrl alt=currentUser.account.fullname width='40' height='40')
                        span.-fw-700.-neutral-dark You + #{campaign.userCount - 1} members
                    else
                      p.pb2.center.-fw-700.-neutral-dark We are the #{campaign.title} #{campaign.userCount}

                    if currentUser && currentUser.role === 'Admin' || canCreateCampaigns
                      .border-top
                        a.block.center.py2.-fw-700(href= routeMappings.Admin.Collectives.Campaigns.edit.url(collective.id, campaign.id))
                          svg.-pen.inline-block.align-middle(width='15' height='15'): use(xlink:href='#svg-pencil')
                          span.inline-block.align-middle.pl1 Edit campaign
                  .border-bottom.-bw5

              if currentUser && currentUser.role === 'Admin' || canCreateCampaigns
                article.Masonry_item.px2.mb4
                  a.GridButton(
                    href=routeMappings.Admin.Collectives.Campaigns.new.url(collective.id)
                    title='Create new campaign'
                  )
                    .flex.items-center.justify-center.absolute.top-0.right-0.bottom-0.left-0
                      .GridButton--Plus +
                  a.block.center.py2.-fw-700(href=routeMappings.Admin.Collectives.Campaigns.new.url(collective.id))
                    | Create new campaign
                  .border-bottom.-bw5

          section#panel-manifest.TabPane.Collective_Manifest(role='tabpanel' aria-hidden='true')
            .pt4
              .clearfix
                .col.md-col-1.col-12.sm-hide.xs-hide &nbsp;
                .col.md-col-11.col-12
                  h1.Collective_Manifest--title.-ell Proclamation
              .clearfix
                .col.md-col-4.col-12.sm-hide.xs-hide &nbsp;
                .col.md-col-7.col-12
                  .Collective_Manifest--text!= collective.manifest

              .pt3.pb2
                ul.AvatarList
                  each user in collective.users
                    li.mb1
                      - var _avatarUrl = '/images/profile/placeholder-small.png';
                      if (user.account.image.exists('smallGrayscale'))
                        - _avatarUrl = user.account.image.url('smallGrayscale')
                      a.block(
                        href=routeMappings.Users.show.url(user.id)
                        title=`${user.account.fullname}’s profile`
                      ): img(src=_avatarUrl alt=user.account.fullname width='50' height='50')

              .clearfix
                .col.md-col-4.col-12 &nbsp;
                .col.md-col-7.col-12
                  p.pb2.-ff-sec.-fw-700= collective.goalTitle

                  if collective.goal
                    div.border.p3.mb4(style='border-width: 8px')
                      h4= collective.goal

                  p.pb2.-fw-700.center.-neutral-dark Spread
                  ul.list-reset.center.pb4
                    li.inline-block
                      a.Button--circle.-dark(href='#' rel='noopener noreferrer' target='_blank' data-share-url-twitter)
                        svg(width='13' height='11'): use(xlink:href='#svg-twitter')
                        .sr-only Share on Twitter
                    li.inline-block.mx2
                      a.Button--circle.-dark(href='#' rel='noopener noreferrer' target='_blank' data-share-url-facebook)
                        svg(width='6' height='13'): use(xlink:href='#svg-facebook')
                        .sr-only Share on Facebook
                    li.inline-block
                      a.Button--circle.-dark(href='#' rel='noopener noreferrer' data-share-url-email)
                        svg(width='14' height='11'): use(xlink:href='#svg-email')
                        .sr-only Share by Email

          section#panel-dispute-tools.TabPane(role='tabpanel' aria-hidden='true')
            .mx4.pt3.pb4
              h3.pb1 We all have the right to dispute unfair debts.
              p We made these free tools to help us fight back. #[a(href=`${routeMappings.DisputeTools.url()}/#why-file-dispute`) Learn more]

              .clearfix.mxn2.flex.flex-wrap
                include ../mixins/dispute-tools/tool-card
                each tool in collective.tools
                  .col.md-col-4.sm-col-6.col-12.px2.py4
                    +toolCardMixin(tool)

block append body
  each tool in collective.tools
    .Modal(
      data-component-modal=`tool-modal-${tool.id}`
      aria-hidden="true" role="dialog"
    )
      button(class="Modal__close" aria-label="close")
        svg(class="-s18"): use(xlink:href="#svg-close")
      .Modal__body(role="document")
        .px2
          .max-width-1.mx-auto
            .Tools__Text-Modal!= tool.about


block scripts
  script(src='/build/javascripts/collectives/show.js' async)
  - var disputeIds = collective.tools.map(dispute => dispute.id);
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
        disputeIds: !{JSON.stringify(disputeIds)},
        collectiveName: !{JSON.stringify(collective.name)},
      };

      new ViewCollectivesShow(options);
    }, true);
