extends ../layouts/application.pug

block title
  | Contact — The Debt Collective

block styles
  link(href="/build/stylesheets/home/contact.css" rel="stylesheet")

block content
  .ContactWrapper.relative.pt4
    h2.mb3 Contact
    h4 This is an organizing space where people in debt gather to Organize, Resist &amp; Reimagine.
    form(name="contact" method="post" action=routeMappings.contact.url()).mb4
      input(type="hidden" name="_csrf" value=csrfToken)
      .clearfix.mb3.mt4
        .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500
          b Your name
        .col.sm-col-9.col-12.px1
          input.-k-input.-fw(type="text" name="name" maxLength="200")
          p.-on-error.-danger.-caption.-fw-500.mt1 ▲ Invalid Name
      .clearfix.mb3
        .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500
          b Your email
        .col.sm-col-9.col-12.px1
          input.-k-input.-fw(type="email" name="email")
          p.-on-error.-danger.-caption.-fw-500.mt1 ▲ Invalid email
      .clearfix.mb2
        .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500
          b Your message
        .col.sm-col-9.col-12.px1
          textarea.-k-textarea.-fw(type="text" name="message" maxLength="32768")
          p.-on-error.-danger.-caption.-fw-500.mt1 ▲ Invalid message
      button.-k-btn.btn-primary.-fw.-fw-700.js-donate-amount(type="submit") Send Information
    .clearfix
      .col.col-6
        p
          b 151 First Ave #222
        p.mb2
          b New York, NY 10003
      .col.col-6
        div.right
          p
            a(href='//facebook.com/DebtCollective' target='_blank' rel='noopener noreferrer') facebook.com/DebtCollective
          p
            a(href='//twitter.com/0debtzone' target='_blank' rel='noopener noreferrer') twitter.com/0debtzone

block scripts
  script(src="/build/javascripts/home/contact.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };
      new ViewHomeContact(options);
    }, true);
