extends ../layouts/application.pug

block title
  | Defense to Repayment Application — The Debt Collective

block styles
  link(href="/build/stylesheets/home/dtr.css" rel="stylesheet")

block content
  .wrapper.py4
    .max-width-5.mx-auto
      .dtr-info.relative
        h4.mb3.pt3.-bw5.border-top.-border-accent
          span.px1.-dark.-bg-accent DEFENSE TO REPAYMENT
          br
          span.px1.-dark.-bg-accent APPLICATION

        h3.mb3 Changes to the Defense to Repayment Application

        p.mb3.
          The Debt Collective’s Defense to Repayment form is no longer operative. Beginning February 1, 2017, student debtors who wish to dispute
          their federal student loans must use the Department of Education’s new form which is located #[a(href='https://borrowerdischarge.ed.gov/FormWizard/BDU/BDULanding.aspx' rel='noopener noreferrer' target='_blank') here].
        p.mb3.
          If you filed Defense to Repayment before February 1, you do NOT need to file again.

        p.mb3.
          The Department has said that it will review all the claims submitted so far via the
          Debt Collective’s application. If you are not sure if you filed already or you have a question about your application, you can contact
          the Borrower Defense Hotline at 855-279-6207. You can also email Federal Student Aid: #[a(href='mailto:FSAOperations@ed.gov') FSAOperations@ed.gov].

        p.mb3.
          Before it shut down,
          the Debt Collective’s application was used to submit 10,595 defense to repayment applications
          (some of which were repeats, tests, or mistakes).

        figure.mb3
          img.fit(src='/images/home/dtr/tdc-ted-mitchell.jpg' alt="TDC - Ted Mitchell"
            srcset='/images/home/dtr/tdc-ted-mitchell@2x.jpg 2x, /images/home/dtr/tdc-ted-mitchell@3x.jpg 3x')
          figcaption.-caption.-neutral-mid Undersecretary Ted Mitchell received the first box of Defense to Repayment disputes on March 31, 2015.

        h4.mb3.-accent Why the change?

        p.mb3.
          The Debt Collective made the first #[a(href='http://civichall.org/civicist/what-the-dept-of-education-should-have-done-years-ago/' rel='noopener noreferrer' target='_blank') Defense to Repayment application two years ago] as part of a collectively organized campaign to
          demand debt relief for former for-profit students. Before we did so, the Department of Education was ignoring it obligations.
          It had no way to apply for Defense to Repayment--it did not even have a process to receive applications.
        p.mb3.
          Students who attended
          Corinthian College were the first to use the online form as part of an historic debt strike. Later, students from ITT Tech,
          Art Institute and other schools joined the campaign for debt relief and began using the form to dispute their loans.
          |Over 5,000 Corinthian student debtors used the form, as well as over 2,200 ITT Tech student debtors and over 1,700 Art Institute student debtors.

        p.mb3.
          As the strike grew and as thousands of people began applying for debt relief via Defense to Repayment, the Department of Education started to
          feel the pressure. They knew they could not ignore the law. Instead of just cancelling debt held by students who had attended scam schools,
          however, they decided to start a long regulatory process. They hired a “Special Master” to review Corinthian borrowers’ disputes and
          initiated “negotiated rulemaking” to decide how to handle disputes from students from other schools.

        p.mb3.
          The new #[a(href='https://borrowerdischarge.ed.gov/FormWizard/BDU/BDULanding.aspx' rel='noopener noreferrer' target='_blank') Defense to Repayment] form is one result of that long process.

        p.mb3.
          So far, as a result of thousands of borrowers’ efforts, hundreds of millions of dollars in debt relief
          has been won and the Department of Education has, at least in theory, recognized students’ rights to a discharge when their school defrauds them.
          There is much more work still to do, but we have already seen first hand that when we organize together we can win.
