@import '../../base';
@import '../../components/Masonry';

hr {
  height: 2px;
  background-color: #4A4A4A;
  border: none;
}

.CollectiveCard {
  &.belongsToCollective {
    & .-accent {
      color: var(--k-color-palette-primary);
    }

    & .-stroke-accent {
      stroke: var(--k-color-palette-primary);
    }

    & .-border-accent {
      border-color: var(--k-color-palette-primary);
    }
  }
}
