@import '../../base';

.Vision__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Vision__cover-video {
  max-width: 700px;
  width: 100%;
  height: 400px;
}

.Vision__item {
  display: inline-block;
  height: 100%;
  background-color: var(--k-color-palette-neutral-light);
  color: black;
}

.navlink {
  cursor: pointer;
  color: red;
}
.modal.choice {
  background-color: white;
  color: black;
}

.hide {
  display: none;
}

.hide-button {
  color: red;
  cursor: pointer;
}

.Vision__video {
  max-width: 500px;
  width: 100%;
}

.Vision__cover {
  min-height: 300px;

  &-space {
    padding-top: 48.334%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
  }
}
