/*
 * Kabinett — Components Button
 */

.-k-btn {
  font-size: 1rem;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  padding: calc(var(--k-font-size) - 1px) 1em calc(var(--k-font-size) - 2px);
  white-space: nowrap;
  border-width: 0;

  text-align: center;
  text-decoration: none;
  border-radius: var(--border-radius);

  user-select: none;
  touch-action: manipulation;

  &[disabled] {opacity: .2}
}
