extends ../../layouts/admin.pug

block title
  | Admin/Collectives — The Debt Collective

block styles
  link(href="/build/stylesheets/admin/disputes/index.css" rel="stylesheet")

block content
  .wrapper.px2.pb3
    h2.pt4.pb2 Collectives
    table.-fw(cellpadding='0' cellspacing='0')
      thead
        tr
          th Name
          th
      tbody
        each collective in collectives
          tr
            td.-fw-500= collective.name
            td.center
              a.Tag.btn-clear.p1.inline-block.align-middle(
                href= routeMappings.Admin.Collectives.Users.url(collective.id)
              )
                svg.-pen.align-middle(width='15' height='15')
                  use(xlink:href='#svg-users')
                span.ml1= collective.userCount + ' user' + (collective.userCount === 1 ? '' : 's')

              a.ml2.btn-clear.p1.inline-block.align-middle(
                href= routeMappings.Admin.Collectives.edit.url(collective.id)
              )
                svg.-pen.block.align-middle(width='15' height='15')
                  use(xlink:href='#svg-pencil')

              a.ml2.btn-clear.p1.inline-block.align-middle(
                href= routeMappings.Collectives.show.url(collective.id)
              )
                svg.-pen.block.align-middle(width='15' height='15')
                  use(xlink:href='#svg-external')

block scripts
  script(src="/build/javascripts/admin/collectives/index.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
        isAdmin: true,
      };

      new ViewAdminCollectivesIndex(options);
    }, true);
