extends ../layouts/application.pug

block title
  | Change Password — The Debt Collective

block content
  .wrapper.py4.px2
    .max-width-1.mx-auto(data-component-sessions-change-password)
      h3 Change password
      p.-fw-500.mb3 Password must contain 8 characters long.

      form(method="post" action=routeMappings.resetPasswordWithToken.url(token))
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="hidden" name="_method" value="PUT")

        .clearfix.mb3
          .col.col-3.pt1.pr1.right-align.-fw-500 Password
          .col.col-9(class=errors && errors.password ? 'error' : '')
            input(name="password" class="-k-input -fw" type="password" autocomplete="off")
            p(class="-on-error -danger -caption -fw-500 mt1") ▲ Password must contain 8 characters long

        .clearfix.mb3
          .col.col-3.pt1.pr1.right-align.-fw-500 Confirm
          .col.col-9(class=errors && errors.confirmPassword ? 'error' : '')
            input(name="confirmPassword" class="-k-input -fw" type="password" autocomplete="off")
            p(class="-on-error -danger -caption -fw-500 mt1") ▲ Password does not match

        button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Change password

block scripts
  script(src="/build/javascripts/sessions/changePassword.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };

      new ViewChangePassword(options);
    }, true);
